<ion-list>
  <ion-item *ngFor="let product of productItems" text-wrap>
    <ion-grid>
      <ion-row>
        <ion-col size="1" class="vertical-align-content">
          <ion-thumbnail item-left>
            <img [src]="mapImage(product.images[0])" />
          </ion-thumbnail>
        </ion-col>
        <ion-col class="descriptionPage">
          <h2>{{ product.name }}</h2>
          <h3 [innerHTML]="product.short_description"></h3>
          <ion-chip outline color="dark">
            <ion-icon name="cash"></ion-icon>
            <ion-label [innerHTML]="product.price_html"></ion-label>
            <ion-icon name="pricetag"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col size="1" class="vertical-align-content">
          <ion-input
            type="number"
            [value]="product.qty"
            class="qty"
            (ionChange)="updateCart($event, product.id)"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
