<ion-header color="dark">

  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> {{ product.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-card>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of product.images" >
        <img [src]="image.src" />
      </ion-slide>
    </ion-slides>

    <ion-card-content>
       <ion-card-title>
         {{ product.name }}
          <ion-chip *ngFor = "let cat of product.categories" style="margin-left: 5px;">
             <ion-label color = "danger"> {{ cat.name }}</ion-label>
          </ion-chip>
       </ion-card-title>

        <ion-chip outline color="dark">
          <ion-label [innerHtml]="product.price_html"></ion-label>
        </ion-chip>

    </ion-card-content>


  

    <ion-button expand="full" fill="solid" color="danger"  (click)="addToCart(product)">
      <ion-icon name="basket"></ion-icon> &nbsp; Add to Cart
    </ion-button>

  </ion-card>

  

   <ion-card *ngIf="product.meta_data.length > 0">
      <ion-card-content>
         <ion-card-title>
            Specifications
         </ion-card-title>

        <ion-grid>
           <ion-row *ngFor = "let att of product.meta_data">
              <ion-col col-4>
                {{att.key}}
              </ion-col>
              <ion-col col-8>
                <span> {{ att.value }} </span>
              </ion-col>
           </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>

  <!-- above working //-->

  <ion-card *ngIf="reviews">
      <ion-card-content>
          <ion-card-title>
            Reviews
          </ion-card-title>

        <ion-grid>
          <ion-row *ngFor = "let review of reviews">
            <ion-col col-4>
              <strong>{{review.reviewer_name}}</strong><br />
              <span *ngIf="review.rating >= 1">
                <ion-icon small name="star" style = "#D1D821;"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 2">
                <ion-icon small name="star" style = "#D1D821;"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 3">
                <ion-icon small name="rating" style = "#D1D821;"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 4">
                <ion-icon small name="rating" style = "#D1D821;"></ion-icon>
              </span>
              <span *ngIf="review.rating >= 5">
                <ion-icon small name="rating" style = "#D1D821;"></ion-icon>
              </span>
            </ion-col>
            <ion-col col-8>
              {{ review.review }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
  </ion-card>

</ion-content>